---
import BackLink from "@/components/back-link.astro";
import BaseLayout from "@/layouts/base-layout.astro";

interface WorkExperience {
  organization: string;
  position: string;
  start_date: string;
  end_date: string;
}

const behanceApi = "https://api.behance.net/v2/users/aprestmo/";
const section = "work_experience";

let cv: WorkExperience[] = [];
try {
  const response = await fetch(
    `${behanceApi}/${section}?api_key=${import.meta.env.BEHANCE_API_KEY}`
  );
  if (response.ok) {
    const data = await response.json();
    cv = data.work_experience || [];
  }
} catch (error) {
  console.error("Failed to fetch CV data:", error);
}
---

<BaseLayout title="Curriculum vitae">
  <main>
    <h1>Curriculum vitae</h1>
    <ol>
      {cv.map((c: WorkExperience) => (
          <li>
            <h2>{c.organization}</h2>
            <p>{c.position}</p>
            <p>
              <time datetime={c.start_date}>{c.start_date}</time>
              &hairsp;&ndash;&hairsp;
              <time datetime={c.end_date}>
                {c.end_date ? c.end_date : "to date"}
              </time>
            </p>
          </li>
        ))}
    </ol>
  </main>
  <BackLink />
</BaseLayout>

<style>
  li {
    border-block-end: 1px solid var(--fg);
    padding-block: 0.5lh;
    text-align: start;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
  }

  p:has(time) {
    font-variant-numeric: oldstyle-nums;
    text-box: trim-both cap alphabetic;
  }
</style>
