---
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getPostLang } from "@/i18n/getPostLang";
import { getPostSlugWithoutLang } from "@/i18n/getPostSlugWithoutLang";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
	const blogPosts = await getCollection("blog");

	return blogPosts.map((post) => {
		const lang = getPostLang(post.slug);
		const slug = getPostSlugWithoutLang(post.slug);
		return {
			params: { lang, slug },
			props: { post },
		};
	});
}) satisfies GetStaticPaths;

const { lang } = Astro.params;

const { post } = Astro.props;

const { Content } = await post.render();

const formatDate = (dateStr: string) => {
	const date = new Date(dateStr);
	const day = String(date.getDate()).padStart(2, "0");
	const month = String(date.getMonth() + 1).padStart(2, "0");
	const year = date.getFullYear();
	return `${day}.${month}.${year}`;
};
---

<BaseLayout title={post.data.title}>
  <main>
    <!-- <a href={getRelativeLocaleUrl(lang, "blog")}>
      {lang === "en" ? "Back to Blog" : "Tilbake til blogg"}
    </a> -->
    <h1>{post.data.title}</h1>
    <time datetime={post.data.date}>{formatDate(post.data.date)}</time>
    <Content />
  </main>
</BaseLayout>
